{% extends "FITLTS/base.html" %}
{% load staticfiles %}
{% block nav-algoverview %}<li class="menu_active"><a href="{% url 'alg_overview_page' %}">Algorithms</a></li>{% endblock %}

{% block content-inner %}
<p>This page will shortly describe implemented algorithms. For proofs and details, we recommed you to read the literature provided in source.</p>
<h2>VA</h2>
<p>Weak necessary condition algorithm (also called Víšek algorithm) is probabilistic algorithm that uses the randomization to choose a starting point for initial step of each cycle. After starting point is chosen, algorithm searches for points fulfilling weak necessary condition. The algorithm is guaranteed to find the exact solution only if “good” starting point is chosen.</p>
<p>This algorithm belongs to the group of Monte Carlo randomized algorithms.</p>

<h3>The algorithm takes following parameters:</h3>
<dl>
<dt>H</dt><dd>Number of not-trimmed data points.</dd>
<dt>K</dt><dd>This parameter influence the choice of initial starting point. For best results set to (number of columns)+1 or (number of not-trimmed rows).</dd>
<dt>Cycles</dt><dd>Number of cycles the algorithm will rund. In each cycle new starting point is chosen and new estimate is found. only the best estimate so far is remembered. The higher number means higher probability of sucesfully finding global optimum.</dd>
</dl>

<br />
<dl>
<dt>Source:</dt><dd>J. Ámos Víšek, “On high breakdown point estimation,” Computational Statistics, vol. 11, pp. 137–146, 1996.</dd>
</dl>

<h2>BSA</h2>
<p>Border Scanning Algorithm.</p>
<p>Robust algorithm developed by K. Klouda as a part of hisw Master's thesis. The algorithm will always find global optimum.</p>
<p>The basic notion of the algorithms is to find points where <img style="height: 2em; position: relative; top: 1ex;"src="{% static 'BSA_eq.jpg' %}" /> holds true.</p>

<h3>The algorithm takes following parameters:</h3>
<dl>
<dt>H</dt><dd>Number of not-trimmed data points.</dd>
</dl>
<br />
<dl>
<dt>Source:</dt><dd>K. Klouda, “Algorithms for computing robust regression estimates,” Master’s thesis, MJFI CVUT, Prague, 2007.</dd>
</dl>

<h2>BSAM</h2>
<p>Border Scanning Algorithm extended (multiple).</p>
<p>Modification of BSA algorithms which allows to compute for multiple H in one run skipping common parts of computation.</p>

<h3>The algorithm takes following parameters:</h3>
<dl>
<dt>Low H</dt><dd>Lower number of not-trimmed data points.</dd>
<dt>H</dt><dd>Higher number of not-trimmed data points. (excluded)</dd>
</dl>
<br />
<dl>
<dt>Source:</dt><dd>K. Klouda, “Algorithms for computing robust regression estimates,” Master’s thesis, MJFI CVUT, Prague, 2007.</dd>
</dl>

{% endblock %}