<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
<html>
	<head>
		<title>{% block head_title %}LTS Library{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light' rel='stylesheet' type='text/css'>
		{% block head-more %}{% endblock %}
	</head>
	<body>
		<div id="site_wrapper">
			<div id="header">
				<div id="site_title">
					<a href="{% url 'home_page' %}"><img class="logo" src="" alt="site logo"></a>
					<div class="title">FIT LTS</div>
					<div class="subtitle"></div>
					<div id="fancybox01" class="fancybox"></div>
					<div id="fancybox02" class="fancybox"></div>
					<div id="fancybox03" class="fancybox"></div>
					<div class="clear"></div>
				</div><!-- end title -->
	
				<div id="menu">
				{% block nav-inner %}
					<ul>
						{% block nav-home %}<li><a href="{% url 'home_page' %}">Home</a></li>{% endblock %}
						{% block nav-calc %}<li><a href="{% url 'calculator_page' %}">LTS Calculator</a></li>{% endblock %}
						{% block nav-algoverview %}<li><a href="{% url 'alg_overview_page' %}">Algorithms</a></li>{% endblock %}
						{% block nav-library %}<li><a href="{% url 'library_page' %}">CPP Library</a></li>{% endblock %}
					</ul>
					<div class="clear"></div>
				{% endblock %}
				</div><!-- end navigation -->
			</div><!-- end header -->
		
			<div id="content">{% block content-inner %}{% endblock %}</div><!-- end content-->
			
			<div id="push"></div>
			<div id="footer">
			{% block footer-inner %}
				<p>FITLTS library and showcase webapp, Master Thesis, CVUT FIT Prague</p>		
			{% endblock %}
			</div><!-- end footer -->
		</div><!-- end wrapper -->
	</body>
</html>