{% extends "FITLTS/base.html" %}
{% block nav-library %}<li class="menu_active"><a href="{% url 'library_page' %}">CPP Library</a></li>{% endblock %}

{% block content-inner %}
<p>The library aims to implement selected algorithms for computing LTS estimate. The library is implemented in CPP and in portable way. It has beeen tested on both Linux and Windows.</p>
<p>For details about implementation read documentation included in git repository.</p>
<dl>
<dt>GIT repository</dt><dd> <a href="https://bitbucket.org/jsvehla/fit-lts">https://bitbucket.org/jsvehla/fit-lts</a></dd>
</dl>
{% endblock %}