{% extends "FITLTS/base.html" %}
{% block nav-home %}<li class="menu_active"><a href="{% url 'home_page' %}">Home</a></li>{% endblock %}

{% block content-inner %}
<p>Welcome to the FITLTS page.</p>
<p>This page was created as a part of thesis on topic of robust linear regression algorithms and aims to provide simple showcase of implemented algorithms. To see what algorithms site currently supports, read <a href="{% url 'alg_overview_page'%}">Algorithms overview page</a>. Part of the thesis was to implement new robust algorithm BSA. </p>
<p>The computation are done using CPP library. The library is open source and more detail can be found <a href="{% url 'library_page'%}">here</a>.</p>

{% endblock %}