{% extends "FITLTS/base.html" %}

{% block content-inner %}
<h1>Result summary for job {{ job_id }} </h1>
<form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
	<div class="form-control">
		<input id="form-duplicate" class="form-button" type="submit" value="Duplicate job" name="_duplicate" />
		<a href={% url 'ltssummary:pdf' job_id %} class="form-button pdf-button">Export as PDF</a>
	</div>
</form>



{% block tasks-summary-matrix %}
<div class="mat_summary">
   <h2>Transformed matrix</h2>
   <div class="scroll_table">
   <table class="scroll_area">
	 <thead>
		 <tr>
			 <th class="row_num"></th>
			 {% for num in matrix.0 %}
			 <th>{{ forloop.counter0 }}</th>
			 {% endfor %}
		 </tr>
	 </thead>
	 <tbody>
	 {% for row in matrix %}
		 <tr>
		 <td class="row_num">{{ forloop.counter0 }}</td>
		 {% for num in row %}
			 <td>{{ num }}</td>
		 {% endfor %}
		 </tr>
	 {% endfor %}
	 </tbody>
   </table>
   </div>
</div>
{% endblock %}

{% block tasks-summary-table %}
<div class="result_summary">
   <h2>Algorithm comparison</h2>
   <table class="result_table">
	 <thead>
		 <tr>
			 <th class="alg_column">Algorithm</th>
			 <th>H</th>			 
			 <th>Time [s]</th>
			 <th>Residual sum</th>
		 </tr>
	 </thead>
	 <tbody>
	 {% for t in tasks %}
	 {% for r in t.results %}
		 <tr>
		 <td class="alg_column">{{ t.algorithm }}</td>
		 <td>{{ r.H }}</td>		 
		 <td>{% if t.running_time %}{{ t.running_time }}{% endif %}</td>
		 <td>{{ r.residual_sum }}</td>
		 </tr>
	 {% endfor %}
	 {% endfor %}
	 </tbody>
   </table>
</div>
{% endblock %}

{% block tasks-summary-list %}
{% for t in tasks %}
   <div class="task_summary">
	  <h2 id="task_{{ t.local_id }}" class="task_header">{{ t.local_id }}</h2>
  
	  <div class="state_block">
		 <h3 class="state_header">Summary:</h3>
		 <dl class="task_state">
			<dt>State</dt><dd>{{ t.status }}</dd>
			<dt>Date created</dt><dd>{{ t.date_created }}</dd>
			{% if t.running_time %}<dt>Running time</dt><dd>{{ t.running_time }} sec.</dd>{% endif %}
		 </dl>
	  </div>
	  
	  <div class="parameter_block">
		 <h3 class="summary_header">Parameters:</h3>
		 <dl class="param_list">
			<dt>Algorithm</dt><dd>{{ t.algorithm }}</dd>
		 {% for p in t.params %}
			<dt>{{ p.name }}</dt><dd>{{ p.value }}</dd>
		 {% endfor %}
		 </dl>
	  </div>
	  
	  <div class="result_block">
	  {% for r in t.results %}
		 <h3 class="summary_header">Result for H = {{ r.H }}</h3>
		 <dl class="result_list">
			<dt>Sum of residuals</dt><dd>{{ r.residual_sum }}</dd>
			<dt>Vector of measurements</dt><dd>{{ r.vector }}</dd>
			<dt>Estimate</dt><dd>{{ r.estimate }}</dd>
		 </dl>
	  {% endfor %}
	  </div>
		
	  <form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
			<div class="form-control">
			<input id="form-cancel-{{ forloop.counter0 }}" class="form-button form-cancel" type="submit" value="Cancel this task" name="_cancel" />
			<input type="hidden" name="_cancel_task" value="{{ t.id }}"/>
			</div>
		</form>
   </div>
{% endfor %}         
{% endblock %}
{% endblock %}