<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<style type="text/css">
	@page {
		size: ;
		margin: 1cm;
		@frame footer {
    		    -pdf-frame-content: footerblock;
    		    bottom: 1cm;
    		    margin-left: 1cm;
    		    margin-right: 1cm;
				margin-top: 1cm;
    		    height: 1cm;
		}
	}
	
	p {
		margin:	0;
	}
	
	h2, h3 {
		margin-bottom: 0;
	}
	
	.indent {
		margin-left:	1em;
	}
</style>
</head>
<body>

<div>
	<h1>Result summary for job {{ job_id }} </h1>
	{% for t in tasks %}
	<div class="task_block">
		<h2 id="task_{{ t.local_id }}" class="task_header">{{ t.local_id }}</h2>
		<h3 class="state_header">Summary:</h3>
		<div class="indent">
			<p><strong>Date created:</strong> {{ t.date_created }}</p>
			{% if t.running_time %}<p><strong>Running time:</strong> {{ t.running_time }} sec.</p>{% endif %}
		</div>
	  
		<h3 class="summary_header">Parameters:</h3>
		<div class="indent">
			<p><strong>Algorithm:</strong> {{ t.algorithm }}</p>
			{% for p in t.params %}
				<p><strong>{{ p.name }}:</strong> {{ p.value }}</p>
			{% endfor %}
			</dl>
		</div>
	  
		{% for r in t.results %}
		<h3 class="summary_header">Result for H = {{ r.H }}</h3>
		<div class="indent">
			<p><strong>Sum of residuals:</strong> {{ r.residual_sum }}</p>
			<p><strong>Vector of measurements:</strong> {{ r.vector }}</p>
			<p><strong>Estimate:</strong> {{ r.estimate }}</p>
		</div>
		{% endfor %}
		<hr />
	</div>
	{% endfor %}         
</div>

<div id="footerblock">
    <pdf:pagenumber>
</div>
</body>
</html>