{% extends "LTSTasks/wizard_base.html" %}

{% block wizard-desc %}
<h1>User details and matrix input</h1>
<p>The wizard will lead you through the creation of new task. In this wizard please upload the file with the matrix data and input your mail. The lisk to the summary will be sent to you to this mail.</p>
<p>Format of the matrix file is rows separated by newline. Data on row are separated by space.</p>
<p>Example:<br />
1 2 3 4<br />
5 6 7 8<br />
1 2 3 4
</p>

{% endblock %}



