{% extends "LTSTasks/wizard_base.html" %}

{% block head-more %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "hide_fields.js" %}"></script>
{% endblock %}

{% block wizard-desc %}
<h1>Matrix transformations</h1>
<p>The wizard will lead you through the creation of new task.</p>
<p>Here you can apply simple transformations to the matrix data. Keep in mind that <b>intercept column has been added</b> automatically as first column, to remove it select exclude for first column.</p>

<div class="mat_summary">
   <h2>Matrix</h2>
   <div class="scroll_table">
   <table class="scroll_area">
	 <thead>
		 <tr>
			 <th class="row_num"></th>
			 {% for num in context.matrix.0 %}
			 <th>{{ forloop.counter0 }}</th>
			 {% endfor %}
		 </tr>
	 </thead>
	 <tbody>
	 {% for row in context.matrix %}
		 <tr>
		 <td class="row_num">{{ forloop.counter0 }}</td>
		 {% for num in row %}
			 <td>{{ num }}</td>
		 {% endfor %}
		 </tr>
	 {% endfor %}
	 </tbody>
   </table>
   </div>
</div>
{% endblock %}

