{% extends "LTSTasks/wizard_base.html" %}

{% block wizard-desc %}
<h1>{{ context.algorithm }} specification</h1>
<p>The wizard will lead you through the creation of new task.</p>
<p>In this step you can specify parameters to the algorithms you selected in previous step.</p>
{% endblock %}

{% block wizard-step %}<h2 class="form-substep">Step {{ context.step_num }}-{{ context.substep }} out of {{ context.step_total }}</h2>{% endblock %}
