{% extends "LTSTasks/wizard_base.html" %}

{% block head-more %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "hide_fields.js" %}"></script>
{% endblock %}

{% block wizard-desc %}
<h1>Matrix transformations</h1>
<p>The wizard will lead you through the creation of new task.</p>
<p>This is the overview page, please check the input data and see if they are correct.</p>
<p><b>Task will only be submitted to the queue after you confirm this.</b></p>
<p>After the task is submitted, you will be mailed the link to the task summary page to the specified mail.</p>
{% endblock %}

{% block wizard-form %}
<div class=mat_csummary>
	<h2>Transformed matrix</h2>
	<div class="scroll_table">
	<table class="scroll_area">
		<thead>
			<tr>
				<th class="row_num"></th>
				{% for num in context.matrix.0 %}
				<th>{{ forloop.counter0 }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% for row in context.matrix %}
			<tr>
			<td class="row_num">{{ forloop.counter0 }}</td>
			{% for num in row %}
				<td>{{ num }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>

<div class="trans_csummary">
	<h2>Transformations</h2>
	<ol>
	{% for trans in context.transformations %}
		<li><strong class="trans_name">{{ trans.name }}</strong>
		{% for p in trans.params %}
		{{ p.name }}: {{ p.value }} 
		{% endfor %}
		</li>
	{% endfor %}
	</ol>
</div>

<div class="alg_csummary">
	<h2>Algorithms</h2>
	<ul>
		{% for alg in context.algorithms %}
		<li><strong class="alg_name">{{ alg.algorithm }}</strong>
		{% for p in alg.params %}
			{{ p.name }}: {{ p.value }} 
		{% endfor %}
		</li>
	{% endfor %}
	</ul>
</div>

<form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
	<div class="form-control">
		<a id="form-back" class="form-button" {% if previous_step %}href="{{ previous_step }}"{% endif %}>Back</a>
		<a id="form-cancel" class="form-button" href="{{ cancel_step }}">Cancel</a>
		<input id="form-continue" class="form-button" type="submit" value="Confirm" />
	</div>
</form>
{% endblock %}