{% extends "LTSTasks/wizard_base.html" %}

{% block wizard-desc %}
<h1>User details and matrix input</h1>
<p>The wizard will lead you through the creation of task duplicate. In this wizard please input your mail. The lisk to the summary will be sent to you to this mail. To change the matrix data you have to create new task.</p>
{% endblock %}
