{% extends "LTSTasks/wizard_base.html" %}

{% block wizard-desc %}
<h1>Algorithms choice</h1>
<p>The wizard will lead you through the creation of new task.</p>
<p>In this step, choose one or multiple algorithms to use to compute estimate. For detailed algorithm overview head over to the <a href="{% url 'alg_overview_page' %}">Algorithms</a>.</p>
<p>You will be able to specify algorithm parameters in next step.</p>
{% endblock %}

