{% extends "FITLTS/base.html" %}

{% block nav-calc %}<li class="menu_active"><a href="{% url 'calculator_page' %}">LTS Calculator</a></li>{% endblock %}

{% block content-inner %}
<p>Error was raised during the form rendering. Please access steps in correct order.</p>
{% endblock %}