{% extends "FITLTS/base.html" %}

{% block nav-calc %}<li class="menu_active"><a href="{% url 'calculator_page' %}">LTS Calculator</a></li>{% endblock %}

{% block content-inner %}
<div class="wizard">
	<div class="wizard-desc">{% block wizard-desc %}{% endblock %}</div>
	
	<div class="wizard-form" id="wizard_{{ current_step }}">
	{% block wizard-step %}<h2 class="form-substep">Step {{ context.step_num }} out of {{ context.step_total }}</h2>{% endblock %}
	{% block wizard-form %}
	<form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
		{% block wizard-fields %}
		{% for field in form %}
			<div class="field-wrapper {{ field.css_classes }}">
				{{ field.label_tag }}
				{{ field }}
				{% if field.errors %}
				<div class="errorlist">
					{% for error in field.errors %}
						<p class="error">{{ error|escape }}</p>
					{% endfor %}
				</div>
				{% endif %}
				<div class="clear"></div>				
			</div>
		{% endfor %}
		{% endblock %}
		<div class="form-control">
			{% if previous_step %}<a id="form-back" class="form-button" href="{{ previous_step }}">Back</a>
			{% else %}<p id="form-back" class="form-button form-button-inactive" >Back</a>{% endif %}
			<a id="form-cancel" class="form-button" href="{{ cancel_step }}">Cancel</a>
			<input id="form-continue" class="form-button" type="submit" value="Continue" />
		</div>
	</form>
	{% endblock %}
	</div>
</div>
{% endblock %}


