{% extends "FITLTS/base.html" %}
{% block nav-calc %}<li class="menu_active"><a href="{% url 'calculator_page' %}">LTS Calculator</a></li>{% endblock %}

{% block content-inner %}
<p>Your data has been accepted and queued. You can check the data, duplicate or cancel the tasks on the summary page.</p>
<div id="wizard_link"><a  href="{{ group_url }}">View summary</a></div>
{% endblock %}