{% extends "FITLTS/base.html" %}
{% block nav-calc %}<li class="menu_active"><a href="{% url 'calculator_page' %}">LTS Calculator</a></li>{% endblock %}

{% block content-inner %}
<p>The wizard will lead you through the creation of new task. It will help you input matrix data, specify transformations, algorithms and algorithms parameters. Afterwards the task will be queued in computation queue. The task summary and result will be available to you anytime following the link you will be given at the end of the wizard.</p>
<div id="wizard_link"><a  href="{% url 'ltstasks:wizard_new' 'start' %}">Start wizard here</a></div>
{% endblock %}