* {
	margin: 	0;
}

html, body {
	height:			99%;
	font-family:	"Verdana", sans-serif;
}

#site_wrapper {
	width: 			90%;
	min-height: 	100%;
	margin-top: 	0.5em;
	margin-left:	auto;
	margin-right: 	auto;
	position: 		relative;
}

.clear {
	clear: 	both;
}
h1, h2, h3, h4, h5, h6 {
	color:			#00A480;
	margin-top: 	1em;
}

dt {
	font-weight: 	bold;
}

ul {
	list-style: 	square;
}

ol {
	list-style: 	lower-roman;
}

p {
	margin-bottom: 	1ex;
}

/* LOGO */
#site_title {
	margin-bottom: 		0.1em;
	padding: 			0.5em;
	position:			relative;
}

#site_title .title {
	font-family: 	'Yanone Kaffeesatz', arial, serif;
	font-size: 		5em;
	line-height: 	100px;
}

#site_title .logo {
	width: 			100px;
	height: 		100px;
	float: 			left;
	margin-right: 	1em;
}

#fancybox01 {
	background-color:	#06266F;
	position:			absolute;
	top:				10%;
	right:				10px;
	width:				20px;
	height:				80%;
}

#fancybox02 {
	background-color:	#1240AB;
	position:			absolute;
	top:				10%;
	right:				40px;
	width:				20px;
	height:				50%;
}

#fancybox03 {
	background-color:	#6C8CD5;
	position:			absolute;
	top:				10%;
	right:				70px;
	width:				20px;
	height:				20%;
}

/* NAVIGATION */
#menu {
	width: 			100%;
	margin-left: 	auto;
	margin-right: 	auto;
	margin-bottom: 	2em;
	border-top:		7px solid #1C0772;
}

#menu ul {
	margin: 			0;
	list-style-type:	none;
}

#menu li {
	float: 				left;
	width: 				24%;
	margin-left: 		1px;
	margin-right: 		1px;
	text-align: 		center;
}

#menu a {
	height: 			2em;
	line-height: 		2em;
	text-decoration: 	none;
	font-weight:  		bolder;
	color: 				#1C0772;
	display: 			block;
	position:			relative;
}

#menu .menu_active a {
	color:			#846FD7;
}

#menu li:hover, #menu li:hover a, #menu .menu_active {
	background: 	#1C0772;
	color:			#846FD7;
}

#menu .menu_active {
	font-weight: 	bold;
}

/* CONTENT */
#content {
	width: 			95%;
	margin-left: 	auto;
	margin-right: 	auto;
	clear: 			both;
}

#wizard_link {
	text-align: 	center;
	margin-top:		2em;
}

#wizard_link a {
	color:				#00A480;
	border: 			1px solid #00A480;
	padding:			1ex;
	text-decoration: 	none;
	font-weight: 		bolder;
	font-size: 			large;
	text-transform: 	uppercase;
}



/* FOOTER */
#push, #footer {
	height: 		3em;
	margin-bottom: 	0.1em;
	margin-top: 	2em;
}

#footer {
	position: 			absolute;
	bottom: 			0;
	width: 				100%;
	line-height: 		3em;
	font-size: 			small;
	text-align: 		center;
	border-top:			3px solid #1C0772;
	color:				#1C0772;
}

/* FORMS */
.wizard {
	width: 			70%;
	margin-left: 	auto;
	margin-right: 	auto;
}

.wizard-form {
	border: 		solid 1px;
	border-color: 	grey;
	padding: 		1em;
	margin-top: 	2em;
}

.field-wrapper {
	margin-top: 	1em;
}

.field-wrapper label, .errorlist {
	font-size: 		90%;
}

.field-wrapper label {
	display: 		block;
	min-width: 		20%;
}

.field-wrapper input {
	float: 			left;
	margin-right: 	2em;
}

.errorlist {
	color: red;
	list-style: none;
}

.form-control {
	margin-top: 	2em;
	width: 			100%;
	position: 		relative;
}

.form-control .form-button {
	margin-left: 		2em;
	margin-right: 		auto;
	color: 				#00A480;
	text-decoration: 	none;
	font-weight: 		bold;
}

.form-control .form-button-inactive {
	color:				#000000;
}

.form-control #form-continue, .form-control #form-confirm, .form-control #form-duplicate, .form-control .form-cancel {
	padding: 			0.5ex;
	position: 			absolute;
	right: 				0;
	width: 				30%;
	background-color: 	inherit;
	font-weight:		bold;
	font-size: 			1em;
	line-height: 		1em;
	border:				1px solid #00A480;
	cursor: 			pointer;
}

.form-control #form-confirm {
	border-width: 		2px;
}

.hidden {
	display: 		none;
}

.error label {
	font-weight: 	bold;
}

.required label:after {
	content: 		'*';
}

.form-substep {
	font-size: 		larger;
}

/* SUMMARY */
.task_summary {
	border-bottom: 		1px solid #1C0772;
	padding-bottom: 	1ex;
}

.task_summary dl:after {
    content: 		"_";
    display: 		block;
    height: 		0;
    clear: 			both;
    visibility: 	hidden;
}

.task_summary dl {
	width: 			60%;
	margin-left: 	1ex;
}

.task_summary dl dt {
	width: 		35%;
	clear: 		left;
	float: 		left;
}

.task_summary dl dd {
	width: 		65%;
	float:		left;
}

.task_summary dl dt:after {
	content: ":";
}

.state_block, .parameter_block {
	width: 			49%;
	margin-bottom: 	1em;
	display: 		inline-block;
}

.result_block {
	width: 			100%;
	margin-bottom: 	1em;
}

.result_block dl {
	width:			100%;
}

.result_block dl dt {
	width: 		15%;

}

.result_block dl dd {
	width: 		85%;
}

.mat_summary .scroll_table  {
	width:		80%;
	height:		25em;
}

.result_table {
	width:			60%;
	margin-left: 	auto;
	margin-right: 	auto;
}

.result_table {
	border-collapse: collapse;
}

.result_table td, .result_table th {
	text-align: 	right;
}

.result_table .alg_column {
	text-align: 	left;
}

/* SUMMARY CONTROLS */
.form-control #form-duplicate {
	position: 		inherit;
	margin:			0;
	width:			20%;
}

.task_summary .form-control {
	margin:		0;
}

.task_summary .form-control:after {
	content: 		"_";
    display: 		block;
    height: 		0;
    clear: 			both;
    visibility: 	hidden;
}

.form-control .form-cancel {
	position: 	static;
	width: 		6em;
	float: 		right;
	margin:		0;
}

/* CONFIRM FORM */
.scroll_table {
	width:			90%;
	margin-left: 	auto;
	margin-right: 	auto;
	height: 		20em;
	overflow: 		auto;
}
.scroll_area {
	width: 100%;
	border-collapse: collapse;
}

.scroll_table .row_num {
	font-weight: 	bold;
	border-right: 	1px solid #1C0772;
	margin-right: 	1em;
}

.scroll_table thead th, .scroll_table td {
	text-align: 	left;
	padding-left: 	1ex;
	padding-right:  1ex;
}

.scroll_table thead, .result_table thead {
	border-bottom: 	1px solid #1C0772;
}

.alg_csummary .alg_name, .trans_csummary .trans_name {
	display: block;
}





